* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  
}

.container {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
}

.form {
  text-align: center;
}

.form p {
  font-size: 18px;
}

.form input {
  width: 100%;
  padding: 20px 10px;
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

li {
  padding: 20px 10px;
  margin-top: 20px;
  border: 1px solid #428ffe;
}